<%- include('partials/header'); -%>
<div class="container">
  <section>
    <!-- heading -->
    <div class="heading">About Us</div>

    <div class="container info-container">
      <p>
        Online diaries and blogs are ways to express yourself in writing by
        sharing your hopes, dreams, and opinions with an online audience.
        Whether you choose to write an online diary or a blog depends on what
        you like to share and how public you like your entries to be.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4 aboutus">
        <h3 class="name">GAURAV KALANE</h3>
        <p>Developer</p>
      </div>

      <div class="col-lg-4 aboutus">
        <h3 class="name">AKSHAY DAMALE</h3>
        <p>Developer</p>
      </div>

      <div class="col-lg-4 aboutus">
        <h3 class="name">GAYATRI PARDESHI</h3>
        <p>Developer</p>
      </div>
    </div>
  </section>
</div>
<%- include('partials/footer'); -%>
