<%- include('partials/header'); -%>

<div class="container">
  <h1 class="contact-us-heading">Contact US</h1>

  <!--Mail-->
  <a href="mailto:gauravkalane28@gmail.com" class="mycontainer">
    <div class="mailing1 inner">
      <p class="contact-us-para">Mail us</p>
      <img class="contact-us-img" src="\contact-us\email.png" />
    </div>
    <div class="cover"></div>
  </a>

  <!--Address-->
  <div class="address-container mycontainer">
    <div class="inner">
      <p class="contact-us-para">Address</p>
      <img class="contact-us-img" src="\contact-us\location.png" alt="" />
    </div>
    <div class="address">
      <p class="address-para">
        B-222, first floor, Okhla Industrial Area, Phase-1, Pune-411037,
        Maharashtra, India
      </p>
    </div>
    <div class="cover"></div>
  </div>

  <!-- Call us-->
  <a href="tel:+917620118231" class="mycontainer">
    <div class="phone inner">
      <p class="contact-us-para">Call us</p>
      <img class="contact-us-img" src="\contact-us\call.png" alt="call" />
    </div>
    <div class="cover"></div>
  </a>

  <!-- Follow us -->
  <div class="mycontainer">
    <div class="inner">
      <p class="contact-us-para">Follow us</p>
      <a href="https://www.instagram.com/gaurav.kalane.7/?hl=en" target="_blank"
        ><img class="contact-us-img" src="\contact-us\instagram.png"
        alt="Instagram" / ></a
      >
      <a href="https://www.facebook.com/gaurav.kalane.7" target="_blank"
        ><img class="contact-us-img" src="\contact-us\facebook.png"
        alt="Facebook" / ></a
      >
      <a href="https://twitter.com/?lang=en" target="_blank"
        ><img class="contact-us-img" src="\contact-us\twitter.png" alt="Twitter"
        / ></a
      >
    </div>
    <div class="cover"></div>
  </div>
</div>

<%- include('partials/footer'); -%>
