<%- include('partials/header') -%>

<div class="container">
    <h1 class="main_heading">Welcome To Your Own <br>PERSONAL DIARY!</h1>

    <div>
        <p class="main_para">Share Your Thoughts, Feelings, Emotions, Ideas and many more here!</p>
    </div>

    <div class="main_buttons">
        <a href="/register"><button type="submit" class="btn btn-outline-warning mybtn">Register</button></a>
        <a href="/login"><input type="submit" value="Login" class="btn btn-outline-primary mybtn"></a>
    </div>
</div>

<%- include('partials/footer') -%>